body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #874f4f;
}
.horloge {
    width: 400px;
    height: 400px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    background: white;
}

.parties {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.partie {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.matin { background-color: green; clip-path: polygon(50% 50%, 100% 0, 75% 25%); }
.midi { background: orange; clip-path: polygon(50% 50%, 75% 25%, 50% 0); }
.apresmidi { background: lightblue; clip-path: polygon(50% 50%, 50% 0, 25% 25%); }
.soir { background: blue; clip-path: polygon(50% 50%, 25% 25%, 0 0); }
.nuit { background: darkblue; clip-path: polygon(50% 50%, 0 0, 0 50%); }

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: black;
}
.heure {
    width: 8px;
    height: 100px;
}
.min {
    width: 6px;
    height: 130px;
    background: gray;
}
.sec {
    width: 2px;
    height: 160px;
    background: red;
}
.center {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nombre {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.nombre div {
    position: absolute;
    transform: translate(-50%, -50%);
}
.clock {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: -100px;
}